SetEnv APPLICATION_ENV production
<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_URI} !-f
    RewriteRule (.*) public/$1 [L]

    RewriteCond %{REQUEST_URI} !-d
    RewriteRule (.*) public/$1 [L]
</IfModule>